h1{
    font-size: 4em;
    /*font-family: arial,helvetica;*/
    font-family: 'Nixie One';
    font-weight: bold;
    color: #000;
    /*margin:0;*/
    padding-bottom: 0.5em;
    text-align:center;
}
.container p{
    color: #000;
    font-size: 16px;
}

.top-margin{
    margin-top: 10%;
}

.ctop-margin{
    margin-top: 2em;
}

.name-line{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom:3em;
}

p.profile{
    padding: 0px, 100px;
    text-align: left;
}

/* Centered texts in each section
 * --------------------------------------- */
.section{
    text-align:center;
}

.navbar-brand{
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#fp-nav ul li .fp-tooltip.right {
    color: #000;
    font-size: 18px;
}

.disp-inBlock{display:inline-block:}
/*小さいデバイスでは横に並べる数を変更*/
@media screen and (max-width: 600px){
    .itemBox{
        width:20%
    }
}
/*以下はスタイルの調整*/
/*img{width:100%;}*/
.itemBox{
    width:128px;
    float: left;
    margin:0.5%;
    margin-bottom:50px;
}

/* Bottom menu
 * --------------------------------------- */
/* 
#infoMenu li a {
color: #000;
}
 */

/* Background setting
 * --------------------------------------- */
#section0{
    background-image: url("../img/body-bg.jpg");
}
#section1{
    background-image: url("../img/body-bg.jpg");
}
#section2{
    background-image: url("../img/body-bg.jpg");
}
#section3{
    background-image: url("../img/body-bg.jpg");
}

/* Hukidasi css*/
/*---------------------------------------*/
/*
#menu div {
  position: relative;
}
.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

span:hover + a.arrow_box {
  display: block;
}
*/

.wrap a span{
  position: absolute;
  opacity: 0;
  top: -50px;
  left: -20px;
  width: 60px;
  padding: 10px;
  border-radius: 2px;
  background: #196090;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  transition: .3s;
}
.wrap a span:after{
  position: absolute;
  top: 100%;
  left: 34px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top: 6px solid #196090;
  content: "";
}
.wrap a:hover span{
  opacity: 1;
  top: -40px;
}

/* mouseover tras*/
/*---------------------------------------*/
.itemBox.disp-inBlock a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
